
.footer_background{
	background: #000;
	color: white;
}
.flex {
	display:inline-flex;
	
	flex-wrap: nowrap;
}
.nav{
	margin-top: 12px;
 float: right;
 flex-wrap: nowrap;
}
.page_margin{

	margin: 0px 227px;
}
.page_text {
	font-family: 'Montserrat', sans-serif;

}
.font_size{
	letter-spacing: 1px; 
	word-spacing: 20px; 
	color: rgba(90, 90, 90);
}
img{
 border-radius: 10px;
}
.padding_for_text{
	padding-top:50px ;
	padding-bottom:50px ;
	padding-right:40px;
	padding-left:35px ;
}
.content_margin{
	margin: 25px;
}
.content_part_1_line{
	word-spacing: 2px;
}
.BL {
   position: absolute;
       bottom: 320px;
    left: 270px;
   }

.TR {
   position: absolute;
       top: 90px;
    right: 690px;
   }
.icon_paly{
	color: white;
}   


.text_on_image{
font-family: 'Inter', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-size: 3.5em;
letter-spacing: -5px;
color: white;
line-height:42px;
}
.padding_part_1{
	padding:20px 0px ;
}

/* part 2*/


.padding_for_text_2{
padding: 15px;
align-content:center;	
}
.text_part_2_center{
	border:1px;
	height:100%;
	width: 100% ;
	line-height: 30px;
	padding: 40px;
}
a{
	color: skyblue;
	text-decoration: underline;
}

.white_box{
	width: 390px;
	height: 100px;
	background: white;
	border-radius: 5px;
	padding: 10px;
	margin: 5PX;
	color: black;
}
.white_box_position{
	position: absolute;
       bottom:-68%;
    left:230px;

}


.margin_for_2box{
	margin: 0px 8px;
}
.white_box_2{
	width: 390px;
	height: 100px;
	background: white;
	border-radius: 5px;
	padding: 10px;
	margin: 5px;
	color: black;
}
.white_box_2_position{
	position: absolute;
       bottom:-33.8%;
    left:750px;
}
.white_box_3_position{
	position: absolute;
   bottom:-67.6%;
    left:750px;
}
.top_margin_of_box{
	margin-top: 5px;
}
.number_number{
	height: 10px;
	width: 40px;
	background:lightgray;
	border-radius: 50%;
    padding: 4px 10px;
}
.